<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suning.epp.sws.dmo.UserRankMapper" >
  <resultMap id="BaseResultMap" type="com.suning.epp.sws.dmo.UserRank" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="RANK_ID" property="rankId" jdbcType="BIGINT" />
    <result column="RANK_MARK" property="rankMark" jdbcType="BIGINT" />
    <result column="RANK_NAME" property="rankName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, RANK_ID, RANK_MARK, RANK_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_rank
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_rank
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.suning.epp.sws.dmo.UserRank" >
    insert into user_rank (ID, RANK_ID, RANK_MARK, 
      RANK_NAME)
    values (#{id,jdbcType=BIGINT}, #{rankId,jdbcType=BIGINT}, #{rankMark,jdbcType=BIGINT}, 
      #{rankName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suning.epp.sws.dmo.UserRank" >
    insert into user_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="rankId != null" >
        RANK_ID,
      </if>
      <if test="rankMark != null" >
        RANK_MARK,
      </if>
      <if test="rankName != null" >
        RANK_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rankId != null" >
        #{rankId,jdbcType=BIGINT},
      </if>
      <if test="rankMark != null" >
        #{rankMark,jdbcType=BIGINT},
      </if>
      <if test="rankName != null" >
        #{rankName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suning.epp.sws.dmo.UserRank" >
    update user_rank
    <set >
      <if test="rankId != null" >
        RANK_ID = #{rankId,jdbcType=BIGINT},
      </if>
      <if test="rankMark != null" >
        RANK_MARK = #{rankMark,jdbcType=BIGINT},
      </if>
      <if test="rankName != null" >
        RANK_NAME = #{rankName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suning.epp.sws.dmo.UserRank" >
    update user_rank
    set RANK_ID = #{rankId,jdbcType=BIGINT},
      RANK_MARK = #{rankMark,jdbcType=BIGINT},
      RANK_NAME = #{rankName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>